.container {
    // background-color: azure;
    background: linear-gradient(90deg, #ead6ee 0%, #a0f1ea 100%);
    mat-card-actions {
        text-align: center;
    }
    mat-label {
        display: flex;
    }
    .form-fileds {
        display: grid;
    }
}