.bill-conatainer {
    text-align: center !important;
    height: 100vh;
    background-color: #fafafa;
    color: rgba(0, 0, 0, .87);
}

::ng-deep .form-container {
    text-align: center;
}

table {
    width: 100%;
}