<div class="container">
    <mat-card class="product-card">
        <mat-card-title class="title">Product Details</mat-card-title>
        <form>

            <mat-form-field appearance="fill">
                <mat-label>Delivery Charges</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-card-subtitle class="title">Product Name : Milk</mat-card-subtitle>
            <div class="comp-retail">
                <mat-form-field appearance="fill">
                    <mat-label>Company Name</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Max.Retail Price(MRP)/per ltr.</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Product Description</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button type="ADD ANOTHER PRODUCT" color="primary">ADD ANOTHER PRODUCT</button>
            </mat-card-actions>
            <mat-card-title class="title">Other Product</mat-card-title>
            <div class="products">
                <div class="butter-milk">
                    <mat-checkbox class="example-margin">Butter</mat-checkbox>
                    <mat-checkbox class="example-margin">Milk</mat-checkbox>

                    <mat-checkbox class="example-margin">Ghee&nbsp;</mat-checkbox>
                    <mat-checkbox class="example-margin">Cheese</mat-checkbox>
                </div>
            </div>
            <br>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="warn">Submit</button>
            </mat-card-actions>

        </form>
    </mat-card>
</div>