<div class="container">
    <mat-card class="user-card">
        <mat-card-title class="name">
            <mat-icon>account_circle</mat-icon>Profile</mat-card-title>
        <form>
            <mat-form-field class="user-full-width" appearance="fill">
                <mat-label>
                    <mat-icon>perm_identity</mat-icon>Name</mat-label>
                <input matInput placeholder="" type="name">
            </mat-form-field>
            <mat-form-field class="user-full-width" appearance="fill">
                <mat-label>
                    <mat-icon> location_on</mat-icon>Address</mat-label>
                <input matInput placeholder="" type="name">
            </mat-form-field>
            <mat-form-field class="user-full-width" appearance="fill">
                <mat-label>
                    <mat-icon> location_on</mat-icon>Pincode</mat-label>
                <input matInput placeholder="" type="pin_number">
            </mat-form-field>
            <mat-form-field class="user-full-width" appearance="fill">
                <mat-label>
                    <mat-icon> email</mat-icon>Email</mat-label>
                <input matInput placeholder="" type="text">
            </mat-form-field>
            <mat-form-field class="user-full-width" appearance="fill">
                <mat-label>
                    <mat-icon> stay_primary_portrait</mat-icon>Mobile_No</mat-label>
                <input matInput placeholder="" type="phone_number">
            </mat-form-field>

        </form>
        <mat-card-actions>
            <button mat-raised-button type="ok" color="primary">Ok</button>
        </mat-card-actions>
    </mat-card>
</div>